.container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: auto;
    padding: 100px;
    height: 320px;
    width: 250px;
    border: 5px solid black;
    background: linear-gradient(rgb(201, 62, 62),red)
}

#qrcode {
    border: 1px solid black;
    background-color: white;
    height: 250px;
}

button {
    background-color: grey;
    border: 1px solid black;
}

button:hover {
    
}

input {
    border: 1px solid black;
}