body {
    box-sizing: border-box;
    background-color: rgb(187, 184, 175);
}

h2 {
    color: black;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: auto;
    margin-top: 50px;
    padding: 100px;
    height: 320px;
    width: 250px;
    border: 5px solid black;
    background: linear-gradient(rgb(35, 192, 197),red)
}

#qrcode {
    border: 2px solid black;
    background-color: white;
    height: 250px;
}

button {
    background-color: grey;
    border: 2px solid black;
}


input {
    border: 2px solid black;
    padding: 5px;
}

h2 {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-align: center;
    text-decoration: underline;
    color: rgb(107, 73, 73);
}

#ttlogo {
    width: 150px;
    height: 150px;
    padding: 40px;
    padding-left: 45px;
    position:absolute;
    opacity: 0.8;
    filter: grayscale(100%);
}